
nav {
  
    font-size:2.2em;
    font-family: cursive;        
    
}

body {
    background-image: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1904/Full-moon-blue-sea-clouds-night-beautiful-nature-landscape_3840x2160.jpg');
    background-size:cover;
          -webkit-animation: slidein 5s;
          animation: slidein 5s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

fieldset {
    padding-left: 3em;
    
}

#form1 {
    padding-left: 23em;
    padding-right: 23em;
}



@-webkit-keyframes slidein {
    from {background-position: top; background-size:auto; }
    to {background-position: -100px 0px;background-size:auto;}
    }
    
    @keyframes slidein {
    from {background-position: top;background-size:auto; }
    to {background-position: -100px 0px;background-size:auto;}
    
    }


@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

#l1{
    display: inline-block; 
    padding-right: 3em;
    padding-left: 3em; 
}

#l2{
    display: inline-block; 
    padding-right: 3em;
    padding-left: 3em; 
}
#l3{
    display: inline-block; 
    padding-right: 3em;
    padding-left: 3em; 
}
#l4{
    display: inline-block; 
    padding-right: 3em;
    padding-left: 3em; 
}
#l5{
    display: inline-block; 
    padding-right: 3em;
    padding-left: 3em; 
}

.lien {
    color: aliceblue;
       
    
}
.ctct {
    color:aliceblue;
    font-family: cursive;
    font-size: x-large;
    
}

body {
    margin-left: 2rem;
    margin-top: 0.1rem;
}

header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: cursive;
    color: aliceblue;
}

.compteur {
    color:aliceblue;
    font-family: cursive;
    font-size: x-large;
    padding-left: 25em;
}

#tm {
    font-family: cursive;
    color: aliceblue;
    font-size: xx-large;
    padding-left: 22em;    
}

#tb {
    font-family: cursive;
    color: aliceblue;
    font-size: xx-large;
    padding-left: 22em;
}

#tabpre {
    font-family: cursive;
    color: aliceblue;
    font-size: x-large;
    padding-left: 25em;
}


.ct {
    padding-left: 18em;
}

#zone {
    padding-left: 25em;
}

#calculprix {
    font-family: cursive;
    color: aliceblue;
    font-size: x-large;
    padding-left: 25em;

}